html{
	height: 100vh;
}
body {
	height: 100%;
}
center {
	font-size: large;
	color: grey;
}
.navbar-brand {
	font-family: 'Crafty Girls';
	font-size: x-large;
	font-weight: 600;
}
.results {
	padding-top: 10px;
}
dt {
	font-family: Arvo;
	font-size: larger;
}
dd {
	font-family: Voces;
	font-size: large;
}